body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    color: #ffffff;
    line-height: 1.6;
}
#title {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #0a0a0a;
    color: #00FFFF;
    margin: 0;
}
#edu {
    text-align: left;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #0a0a0a;
    color: #ffffff;

}
#proj {
    text-align: center;
    padding-bottom: 50px;
    background-color: #0a0a0a;
    color: #ffffff;
}
#proj2 {
    text-align: center;
    background-color: #0a0a0a;
    color: #ffffff;
    padding-bottom: 50px;
}

.footer{
    text-align: center;
    background-color: #FFF3E0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.carousel-control-prev {
    width: 40%;
}

.carousel-control-next {
    width: 40%;
}